.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}
.left-col {
    width: 65%;
    position: relative;
}
.left-col img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.right-col {
    width: 35%;
    margin-top: 60px;
}
.product-info {
    border-bottom: 1px solid #474547;
    margin-bottom: 24px;
}
.product-info span {
    font-size: 16px;
    color: rgb(49, 49, 136);
    letter-spacing: 1.6;
    text-transform: uppercase;
    text-decoration: none;
}
.product-info h1 {
    font-weight: 300px;
    font-size: 54px;
    color: #474547;
    letter-spacing: -2px;
}
.product-info p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
}
