* {
  transition: all 0.2s linear;
  text-transform: capitalize;
  outline: none;
  border: none;
}
.blog-container {
  margin: 0 auto;
  padding: 3rem 2rem;
}
.title {
  font-size: 3.5rem;
  color: #474747;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
