.column {
  float: left;
  width: 33.33%;
}

.column p {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #474547;
  text-transform: uppercase;
  cursor: pointer;
}
.column p:hover {
  color: #ffc380;
}
h1 {
  padding-top: 40px;
  color: #474547;
  padding-left: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  padding: 4rem;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1280px) {
  .column {
    width: 50%;
  }
  h1 {
    text-align: center;
  }
  .row {
    padding-left: 12rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
