* {
  transition: all 0.2s linear;
  text-transform: capitalize;
  outline: none;
  border: none;
}
.blog-container {
  margin: 0 auto;
  padding: 3rem 2rem;
}
.title {
  font-size: 3.5rem;
  color: #474747;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.button-more{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.load-more-button {
  font-family:"roboto", sans-serif;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.20);
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 80px;
  border-radius: 12px;
  background-color: #474747;
}

.load-more-button:hover {
  background-color: #f2dcc38a;
  color: #474747;

}
@media screen and (max-width: 500px) {
  .blog-container {
    padding: 0rem 1rem;
  }
}